#header{
  padding-left: 30px;
  padding-top: 15px;
  width: 100%;
  height: 77px;
  background-color:  darkslategrey;
}
#header h1{
  float: left;
  font-size: 45px;
  margin-top: 0px;
  color: lightgrey;
}
#header p{
  padding-right: 10px;
  float: right;
}
.contact{
  font-size: 18px;
  margin-left: 20px;
}
body{
  background-color: whitesmoke;
}

#image{
  float: left;
  border-bottom: 50px;
  margin-top: 115px;
  margin-bottom: 50px;
  transform: rotate(90deg);
  width: 524px;
}
.aboutme{
  margin-top: 75px;
  width: 100%;
  text-align: center;
  font-family: georgia, serif;
}
.aboutme h2{
  font-size: 45px;
  margin-bottom: 25px;
}
.aboutme p{
  line-height: 50px;
  font-size: 20px;
  margin-bottom: 45px;
}
.footer{
  width: 100%;
  float: left;
  height: 2px;
  background-color: darkslategrey;
}

.projects{
  text-align: left;
  width: 100%;
  float: left;
  font-family: georgia, serif;
  margin-bottom: 20px;
}
.projects h2{
  font-size: 35px;
}
.projects h3{
  font-size: 20px;
}
.projects ul{
  font-size: 17px;
  line-height: 45px;
}
.background{
 float: left;
 font-family: georgia, serif;
 margin-bottom: 20px;
}
.background h2{
  font-size: 35px;
}
.background h4{
  line-height: 20px;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}
.epicodus{
  font-style: italic;
}
.background p{
  line-height: 45px;
  font-size: 17px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.interest{
  font-family: georgia, serif;
  float: left;
  width: 100%;

}
