#header{
  padding-left: 30px;
  padding-top: 15px;
  width: 100%;
  height: 77px;
  background-color:  darkslategrey;
}
#header h1{
  float: left;
  font-size: 45px;
  margin-top: 0px;
  color: lightgrey;
}
#header p{
  padding-right: 10px;
  float: right;
}

body{
  background-color: whitesmoke;
}

#image{
  float: left;
  border-bottom: 50px;
  margin-top: 115px;
  margin-bottom: 50px;
  transform: rotate(90deg);
  width: 524px;
}
.aboutme{
  margin-top: 75px;
  width: 100%;
  text-align: center;
  font-family: georgia, serif;
}
.aboutme h2{
  font-size: 45px;
  margin-bottom: 25px;
}
.aboutme p{
  line-height: 50px;
  font-size: 20px;
  margin-bottom: 45px;
}
.footer{
  width: 100%;
  float: left;
  height: 2px;
  background-color: darkslategrey;
}

.projects{
  text-align: left;
  width: 100%;
  float: left;
  font-family: georgia, serif;
}
.projects ul{
  font-size: 15px;
  line-height: 30px;
}
